
body {
    background-color: black;
}
h2 {
    color: gold;
    font-size: large;
    margin: auto;
    background-color: black;
    text-align: center;
}

p {
    color: palegoldenrod;
    text-align: center;
    background-color: black
}
img {
    width: 486px;
    height: 486px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: black;
}